# World Cup Stats

Use Pandas scraping to collect the 2019 FIFA World Cup Stats.

In [12]:
import pandas as pd

Use Pandas to scrape the following site, extract the Overall Results By Team table, clean the data, and export it to a CSV.

In [13]:
url = 'https://en.wikipedia.org/wiki/2019_FIFA_Women%27s_World_Cup_statistics'

In [15]:
# Use the Pandas `read_html` to parse the url
tables = pd.read_html(url)
tables

[   Rank                    Name           Team  \
 0     1           Megan Rapinoe  United States
 1     2        Kosovare Asllani         Sweden
 2     2            Sara Däbritz        Germany
 3     2  Caroline Graham Hansen         Norway
 4     2         Sofia Jakobsson         Sweden
 5     2           Lieke Martens    Netherlands
 6     2        Vivianne Miedema    Netherlands
 7     2             Alex Morgan  United States
 8     2           Wendie Renard         France

                                     Opponent  Awards
 0  Spain (R16), France (QF), Netherlands (F)       3
 1                  Chile (GS), Thailand (GS)       2
 2              Spain (GS), South Africa (GS)       2
 3          South Korea (GS), Australia (R16)       2
 4                 Germany (QF), England (TP)       2
 5              New Zealand (GS), Japan (R16)       2
 6                  Cameroon (GS), Italy (QF)       2
 7                Thailand (GS), England (SF)       2
 8             South Korea (GS), Nigeria (GS)       2  ,
    Rank                 Name           Team  \
 0     1        Alyssa Naeher  United States
 1     1        Almuth Schult        Germany
 2     3       Karen Bardsley        England
 3     3  Sari van Veenendaal    Netherlands
 4     5              Bárbara         Brazil
 5     5       Sarah Bouhaddi         France
 6     5       Hedvig Lindahl         Sweden
 7     5       Laura Giuliani          Italy
 8     5      Stephanie Labbé         Canada
 9     5         Peng Shimeng          China

                                             Opponent  Awards
 0  Thailand (GS), Chile (GS), Sweden (GS), Nether...       4
 1  China PR (GS), Spain (GS), South Africa (GS), ...       4
 2            Japan (GS), Cameroon (R16), Norway (QF)       3
 3          New Zealand (GS), Italy (QF), Sweden (SF)       3
 4                           Jamaica (GS), Italy (GS)       2
 5                     South Korea (GS), Nigeria (GS)       2
 6                           Chile (GS), Canada (R16)       2
 7                          Jamaica (GS), China (R16)       2
 8                    Cameroon (GS), New Zealand (GS)       2
 9                      South Africa (GS), Spain (GS)       2  ,
               Player                                         Offence(s)  \
 0       Anouk Dekker    in qualifying vs Switzerland (13 November 2018)
 1  Nothando Vilakazi           in Group B vs Spain (matchday 1; 8 June)
 2            Formiga  in Group C vs Jamaica (matchday 1; 9 June)  in...
 3   Taneekarn Dangda  in Group F vs United States (matchday 1; 11 Ju...
 4        Ngozi Ebere         in Group A vs France (matchday 3; 17 June)
 5      Rita Chikwelu  in Group A vs South Korea (matchday 2; 12 June...
 6    Fridolina Rolfö  in Round of 16 vs Canada (24 June)  in Quarter...
 7      Millie Bright           in Semi-finals vs United States (2 July)

                                      Suspension
 0  Group E vs New Zealand (matchday 1; 11 June)
 1     Group B vs China PR (matchday 2; 13 June)
 2        Group C vs Italy (matchday 3; 18 June)
 3        Group F vs Chile (matchday 3; 20 June)
 4              Round of 16 vs Germany (22 June)
 5              Round of 16 vs Germany (22 June)
 6           Semi-finals vs Netherlands (3 July)
 7       Third place play-off vs Sweden (6 July)  ,
                  Name  2003                 2007  \
                  Name Goals        Against Goals
 0           Cristiane     0              —     5
 1   Isabell Herlovsen     —              —     2
 2         Carli Lloyd     —              —     0
 3               Marta     3  KOR, NOR, SWE     7
 4         Alex Morgan     —              —     —
 5       Megan Rapinoe     —              —     —
 6  Christine Sinclair     3  GER, JPN, USA     3
 7          Jill Scott     —              —     1

                                    2011                    2015  \
                           Against Goals           Against Goals
 0          NZL, CHN (2), AUS, USA     2           EQG (2)     0
 1                        GHA, CHN     0                 —     2
 2                               —     1               COL     6
 3  NZL (2), CHN (2), AUS, USA (2)     4  NOR (2), USA (2)     1
 4                               —     2          FRA, JPN     1
 5                               —     1               COL     2
 6                    GHA (2), AUS     1               GER     2
 7                             ARG     2          NZL, FRA     0

                            2019                             Total goals
                   Against Goals                     Against Total goals
 0                       —     4                JAM (3), AUS          11
 1                 THA (2)     2                    KOR, AUS           6
 2  COL, CHN, GER, JPN (3)     3                THA, CHI (2)          10
 3                     KOR     2                    AUS, ITA          17
 4                     COL     6                THA (5), ENG           9
 5                 AUS (2)     6  THA, ESP (2), FRA (2), NED           9
 6                CHN, ENG     1                         NED          10
 7                       —     1                         NOR           4  ,
                   Name 1995           1999                               2003  \
                   Name Apps   Against Apps                       Against Apps
 0         Karen Carney    —         —    —                             —    —
 1            Cristiane    —         —    —                             —    4
 2        Lisa De Vanna    —         —    —                             —    —
 3         Katie Duncan    —         —    —                             —    —
 4            Onome Ebi    —         —    —                             —    3
 5           Abby Erceg    —         —    —                             —    —
 6        Nilla Fischer    —         —    —                             —    —
 7              Formiga    2  JPN, GER    6  MEX, ITA, GER, NGA, USA, NOR    3
 8    Isabell Herlovsen    —         —    —                             —    —
 9       Hedvig Lindahl    —         —    —                             —    —
 10         Carli Lloyd    —         —    —                             —    —
 11       Annalie Longo    —         —    —                             —    —
 12               Marta    —         —    —                             —    4
 13        Ria Percival    —         —    —                             —    —
 14           Ali Riley    —         —    —                             —    —
 15          Jill Scott    —         —    —                             —    —
 16      Sophie Schmidt    —         —    —                             —    —
 17      Caroline Seger    —         —    —                             —    —
 18  Christine Sinclair    —         —    —                             —    6

                                  2007                               2011  \
                          Against Apps                       Against Apps
 0                              —    4            JPN, GER, ARG, USA    4
 1             KOR, NOR, FRA, SWE    6  NZL, CHN, DEN, AUS, USA, GER    4
 2                              —    4         GHA, NOR, Canada, BRA    4
 3                              —    1                           BRA    3
 4                  PRK, USA, SWE    2                      SWE, PRK    3
 5                              —    3                 BRA, DEN, CHN    3
 6                              —    2                      USA, PRK    5
 7                  KOR, NOR, SWE    6  NZL, CHN, DEN, AUS, USA, GER    4
 8                              —    3                 GHA, CHN, GER    3
 9                              —    3                 NGA, USA, PRK    6
 10                             —    5       PRK, SWE, NGA, ENG, BRA    6
 11                             —    1                           DEN    1
 12            KOR, NOR, FRA, SWE    6  NZL, CHN, DEN, AUS, USA, GER    4
 13                             —    3                 BRA, DEN, CHN    3
 14                             —    3                 BRA, DEN, CHN    3
 15                             —    4            JPN, GER, ARG, USA    4
 16                             —    3                 NOR, GHA, AUS    3
 17                             —    3                 NGA, USA, PRK    3
 18  GER, ARG, JPN, CHN, SWE, USA    3                 NOR, GHA, AUS    3

                                  2015                                    2019  \
                          Against Apps                            Against Apps
 0             MEX, NZL, JPN, FRA    6    MEX, COL, NOR, Canada, JPN, GER    4
 1             AUS, NOR, EQG, USA    3                      KOR, ESP, AUS    4
 2             BRA, EQG, NOR, SWE    5            USA, NGA, SWE, BRA, JPN    2
 3                  JPN, ENG, MEX    3                      NED, CAN, CHN    1
 4                  FRA, GER, CAN    3                      SWE, AUS, USA    4
 5                  JPN, ENG, MEX    3                      NED, CAN, CHN    3
 6        COL, PRK, USA, AUS, FRA    4                 NGA, USA, AUS, GER    6
 7             AUS, NOR, EQG, USA    3                      KOR, ESP, AUS    3
 8                  EQG, BRA, AUS    3                      THA, GER, ENG    5
 9   COL, PRK, USA, AUS, JPN, FRA    4                 AUS, NOR, EQG, USA    7
 10  PRK, COL, SWE, BRA, FRA, JPN    7  AUS, SWE, NGA, COL, CHN, GER, JPN    7
 11                           JPN    3                      NED, CAN, CHN    3
 12            AUS, NOR, EQG, USA    3                      KOR, ESP, AUS    3
 13                 JPN, ENG, MEX    3                      NED, CAN, CHN    3
 14                 JPN, ENG, MEX    3                      NED, CAN, CHN    3
 15            MEX, NZL, JPN, FRA    6       FRA, MEX, NOR, CAN, JPN, GER    7
 16                 GER, FRA, NGA    5            CHN, NZL, NED, SUI, ENG    4
 17                 COL, PRK, AUS    4                 NGA, USA, AUS, GER    7
 18                 GER, FRA, NGA    5            CHN, NZL, NED, SUI, ENG    4

                                       Total
                               Against Total
 0                  SCO, ARG, JPN, SWE    18
 1                  JAM, AUS, ITA, FRA    21
 2                            ITA, JAM    15
 3                                 CMR     8
 4                  NOR, KOR, FRA, GER    15
 5                       NED, CAN, CMR    12
 6        CHI, THA, CAN, GER, NED, ENG    17
 7                       JAM, AUS, FRA    27
 8             NGA, FRA, KOR, AUS, ENG    14
 9   CHI, THA, USA, CAN, GER, NED, ENG    20
 10  THA, CHI, SWE, ESP, FRA, ENG, NED    25
 11                      NED, CAN, CMR     8
 12                      AUS, ITA, FRA    20
 13                      NED, CAN, CMR    12
 14                      NED, CAN, CMR    12
 15  SCO, ARG, JPN, CMR, NOR, USA, SWE    21
 16                 CMR, NZL, NED, SWE    15
 17  CHI, THA, USA, CAN, GER, NED, ENG    17
 18                 CMR, NZL, NED, SWE    21  ,
              Team    Pld   W     D   L  Pts  APts   GF   AGF   GA   AGA   GD  \
 0       Argentina      3   0     2   1    2  0.67    3  1.00    4  1.33   −1
 1       Australia      4   2     1   1    7  1.75    9  2.25    6  1.50   +3
 2          Brazil      4   2     0   2    6  1.50    7  1.75    5  1.25   +2
 3        Cameroon      4   1     0   3    3  0.75    3  0.75    8  2.00   −5
 4          Canada      4   2     0   2    6  1.50    4  1.00    3  0.75   +1
 5           Chile      3   1     0   2    3  1.00    2  0.67    5  1.67   −3
 6           China      4   1     1   2    4  1.00    1  0.25    3  0.75   −2
 7         England      7   5     0   2   15  2.14   13  1.86    5  0.71   +8
 8          France      5   4     0   1   12  2.40   10  2.00    4  0.80   +6
 9         Germany      5   4     0   1   12  2.40   10  2.00    2  0.40   +8
 10          Italy      5   3     0   2    9  1.80    9  1.80    4  0.80   +5
 11        Jamaica      3   0     0   3    0  0.00    1  0.33   12  4.00  −11
 12          Japan      4   1     1   2    4  1.00    3  0.75    5  1.25   −2
 13    Netherlands      7   6     0   1   18  2.57   11  1.57    5  0.71   +6
 14    New Zealand      0   0     0   0    0  0.00    1  0.00    5  0.00   −4
 15        Nigeria      4   1     0   3    3  0.75    2  0.50    7  1.75   −5
 16         Norway      5   2     1   2    7  1.40    7  1.40    7  1.40    0
 17       Scotland      3   0     1   2    1  0.33    5  1.67    7  2.33   −2
 18          Spain      4   1     1   2    4  1.00    4  1.00    4  1.00    0
 19   South Africa      3   0     0   3    0  0.00    1  0.33    8  2.67   −7
 20    South Korea      3   0     0   3    0  0.00    1  0.33    8  2.67   −7
 21         Sweden      7   5     0   2   15  2.14   12  1.71    6  0.86   +6
 22  United States      7   7     0   0   21  3.00   26  3.71    3  0.43  +23
 23       Thailand      3   0     0   3    0  0.00    1  0.33   20  6.67  −19
 24          Total  52(1)  48  4(2)  48  152  1.46  146  1.40  146  1.40    0

       AGD  CS   ACS   YC   AYC  RC   ARC
 0   −0.33   1  0.33    3  1.00   0  0.00
 1    0.75   0  0.00    2  0.50   1  0.25
 2    0.50   2  0.50   11  2.75   0  0.00
 3   −1.25   0  0.00    8  2.00   0  0.00
 4    0.25   2  0.50    3  0.75   0  0.00
 5   −1.00   1  0.33    5  1.67   0  0.00
 6   −0.50   2  0.50    5  1.25   0  0.00
 7    1.14   4  0.57    5  0.71   1  0.14
 8    1.20   2  0.40    5  1.00   0  0.00
 9    1.60   4  0.80    5  1.00   0  0.00
 10   1.00   2  0.40    8  1.60   0  0.00
 11  −3.67   0  0.00    4  1.33   0  0.00
 12  −0.50   1  0.25    5  1.25   0  0.00
 13   0.86   3  0.43    6  0.86   0  0.00
 14   0.00   0  0.00    1  0.00   0  0.00
 15  −1.25   1  0.25   10  2.50   1  0.25
 16   0.00   1  0.20    5  1.00   0  0.00
 17  −0.67   0  0.00    6  2.00   0  0.00
 18   0.00   1  0.25    1  0.25   0  0.00
 19  −2.33   0  0.00    8  2.67   1  0.33
 20  −2.33   0  0.00    4  1.33   0  0.00
 21   0.86   2  0.29    7  1.00   0  0.00
 22   3.29   4  0.57    7  1.00   0  0.00
 23  −6.33   0  0.00    5  1.67   0  0.00
 24   0.00  33  0.32  129  1.24   4  0.04  ,
   Confederation   T    Pld   W     D   L  Pts  APts  Pts/T
 0           AFC   5     18   4     3  11   15  0.83   3.00
 1           CAF   3     10   2     1   7    7  0.70   2.33
 2      CONCACAF   3     14   9     0   5   27  1.93   9.00
 3      CONMEBOL   3     10   3     2   5   11  1.10   3.67
 4           OFC   1      3   0     0   3    0  0.00   0.00
 5          UEFA   9     49  30     2  17   92  1.88  10.22
 6         Total  24  52(1)  48  4(2)  48  152  1.46   6.33,
   vte2019 FIFA Women's World Cup  \
 0                         Stages
 1            General information

                     vte2019 FIFA Women's World Cup.1
 0  Group stage Group A Group B Group C Group D Gr...
 1  Qualification Squads Statistics Broadcasting r...  ]

In [16]:
# Find the correct table
tables[5]

,Team,Pld,W,D,L,Pts,APts,GF,AGF,GA,AGA,GD,AGD,CS,ACS,YC,AYC,RC,ARC
0,Argentina,3,0,2,1,2,0.67,3,1.00,4,1.33,−1,−0.33,1,0.33,3,1.00,0,0.00
1,Australia,4,2,1,1,7,1.75,9,2.25,6,1.50,+3,0.75,0,0.00,2,0.50,1,0.25
2,Brazil,4,2,0,2,6,1.50,7,1.75,5,1.25,+2,0.50,2,0.50,11,2.75,0,0.00
3,Cameroon,4,1,0,3,3,0.75,3,0.75,8,2.00,−5,−1.25,0,0.00,8,2.00,0,0.00
4,Canada,4,2,0,2,6,1.50,4,1.00,3,0.75,+1,0.25,2,0.50,3,0.75,0,0.00
5,Chile,3,1,0,2,3,1.00,2,0.67,5,1.67,−3,−1.00,1,0.33,5,1.67,0,0.00
6,China,4,1,1,2,4,1.00,1,0.25,3,0.75,−2,−0.50,2,0.50,5,1.25,0,0.00
7,England,7,5,0,2,15,2.14,13,1.86,5,0.71,+8,1.14,4,0.57,5,0.71,1,0.14
8,France,5,4,0,1,12,2.40,10,2.00,4,0.80,+6,1.20,2,0.40,5,1.00,0,0.00
9,Germany,5,4,0,1,12,2.40,10,2.00,2,0.40,+8,1.60,4,0.80,5,1.00,0,0.00
10,Italy,5,3,0,2,9,1.80,9,1.80,4,0.80,+5,1.00,2,0.40,8,1.60,0,0.00
11,Jamaica,3,0,0,3,0,0.00,1,0.33,12,4.00,−11,−3.67,0,0.00,4,1.33,0,0.00
12,Japan,4,1,1,2,4,1.00,3,0.75,5,1.25,−2,−0.50,1,0.25,5,1.25,0,0.00
13,Netherlands,7,6,0,1,18,2.57,11,1.57,5,0.71,+6,0.86,3,0.43,6,0.86,0,0.00
14,New Zealand,0,0,0,0,0,0.00,1,0.00,5,0.00,−4,0.00,0,0.00,1,0.00,0,0.00
15,Nigeria,4,1,0,3,3,0.75,2,0.50,7,1.75,−5,−1.25,1,0.25,10,2.50,1,0.25
16,Norway,5,2,1,2,7,1.40,7,1.40,7,1.40,0,0.00,1,0.20,5,1.00,0,0.00
17,Scotland,3,0,1,2,1,0.33,5,1.67,7,2.33,−2,−0.67,0,0.00,6,2.00,0,0.00
18,Spain,4,1,1,2,4,1.00,4,1.00,4,1.00,0,0.00,1,0.25,1,0.25,0,0.00
19,South Africa,3,0,0,3,0,0.00,1,0.33,8,2.67,−7,−2.33,0,0.00,8,2.67,1,0.33
20,South Korea,3,0,0,3,0,0.00,1,0.33,8,2.67,−7,−2.33,0,0.00,4,1.33,0,0.00
21,Sweden,7,5,0,2,15,2.14,12,1.71,6,0.86,+6,0.86,2,0.29,7,1.00,0,0.00
22,United States,7,7,0,0,21,3.00,26,3.71,3,0.43,+23,3.29,4,0.57,7,1.00,0,0.00
23,Thailand,3,0,0,3,0,0.00,1,0.33,20,6.67,−19,−6.33,0,0.00,5,1.67,0,0.00
24,Total,52(1),48,4(2),48,152,1.46,146,1.40,146,1.40,0,0.00,33,0.32,129,1.24,4,0.04

In [22]:
# Save the table to a DataFrame
import pandas as pd

df = pd.DataFrame({
    'Product ID': [1, 2, 3, 4],
    # add Product Name and Color here
    'Product Name': ["t-shirt", "t-shirt", "skirt", "skirt"],
    'Color': ["blue", "green", "red", "black"]
})

# Print the DataFrame
print(df)

# Create a new DataFrame for the new 'skirt' product
df2 = pd.DataFrame({
    'Product ID': [5],
    'Product Name': ["skirt"],
    'Color': ["black"]
})

# Concatenate the existing DataFrame with the new DataFrame
df = pd.concat([df, df2])

# Print the updated DataFrame
print(df)

   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green
2           3        skirt    red
3           4        skirt  black
   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green
2           3        skirt    red
3           4        skirt  black
0           5        skirt  black

In [ ]:
# Drop the "Total" row

KeyError: 'Total'

In [ ]:
# Check the data types
print(type(5))
print(type(5.0))
print(type('5'))
print(type(3 + 4j))

# Convert to int
print(int(5.0))
print(int('5'))

# Convert to float
print(float(5))
print(float('5'))

# Convert to complex
print(complex(5))
print(complex(5.0))
print(complex('5'))
print(complex(3, 4))

# Convert to string
print(str(5))
print(str(5.0))
print(str(5 + 4j))

Team     object
Pld      object
W         int64
D        object
L         int64
Pts       int64
APts    float64
GF        int64
AGF     float64
GA        int64
AGA     float64
GD       object
AGD      object
CS        int64
ACS     float64
YC        int64
AYC     float64
RC        int64
ARC     float64
dtype: object

In [11]:
# Remove the "+" and replace the "−" with "-" from the "GD" and "AGD" columns
people_df["GD"] = people_df["GD"].str.replace("+", "").str.replace("−", "-")
people_df["AGD"] = people_df["AGD"].str.replace("+", "").str.replace("−", "-")

# Convert the "GD" and "AGD" columns to float
people_df["GD"] = people_df["GD"].astype(float)
people_df["AGD"] = people_df["AGD"].astype(float)

# Display the updated DataFrame
people_df.head()
   ],
   "source": [
    "# Remove the \"+\" and replace the \"−\" with \"-\" from the \"GD\" and \"AGD\" columns\n",
    "people_df[\"GD\"] = people_df[\"GD\"].str.replace(\"+\", \"\").str.replace(\"−\", \"-\")\n",
    "people_df[\"AGD\"] = people_df[\"AGD\"].str.replace(\"+\", \"\").str.replace(\"−\", \"-\")\n",
    "\n",
    "# Convert the \"GD\" and \"AGD\" columns to float\n",
    "people_df[\"GD\"] = people_df[\"GD\"].astype(float)\n",
    "people_df[\"AGD\"] = people_df[\"AGD\"].astype(float)\n",
    "\n",
    "# Display the updated DataFrame\n",
    "people_df.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.7.3"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 2
}

IndentationError: unexpected indent (1640966732.py, line 11)

In [10]:
# Convert the following columns to dtype int
# "AGD", "Newspaper", "Radio", "TV", "Sales"

import pandas as pd
import numpy as np

df = pd.read_csv("data/sales.csv", index_col=0)


    
# Convert the "AGD" column to dtype float

FileNotFoundError: [Errno 2] No such file or directory: 'data/sales.csv'

In [10]:
# Export as a CSV without the index